*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


                                 /*NAVBAR*/
nav {
    display: flex;
    width: 100%;
    align-items: center;
    flex: wrap;
    padding: 5px 0;
    background-color: tomato;
}

nav ul {
    flex:1;
    text-align: right;
    padding-right: 30px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 40px;
}

nav ul li a {
    text-decoration: none;
    color: transparent;
    position: relative;
    
}

li:Hover {
  transition: ease-in;
	background: #df1d1d;
	color: #111;
	box-shadow: 0 0 50px #21ebff;
    border-radius: 15%;
}
.container
{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #001300;
  overflow: hidden;
  animation: animateColor 5s linear infinite;
}
@keyframes animateColor
{
  0%
  {
    filter: hue-rotate(0deg);
  }
  100%
  {
    filter: hue-rotate(360deg);
  }
}

.container span
{
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
}
.container span::before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: #00ff0a;
  box-shadow: 0 0 10px #00ff0a,
              0 0 20px #00ff0a,
              0 0 40px #00ff0a,
              0 0 60px #00ff0a,
              0 0 80px #00ff0a,
              0 0 100px #00ff0a;
  border-radius: 50%;
  transition: 2s;
  transform: scale(0);
}
.container span:hover::before
{
  transition: 0s;
  transform: scale(1);
}