*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body  
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #121213;
}
.loader
{
    position: relative;
    width: 200px;
    height: 200px;
    background: #1a1a1f;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    color: #fff;
    overflow: hidden;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004)
}
.loader:hover 
{
    background:linear-gradient(#df1d1d,	#CA1F08);
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 200px #03e9f4;
}
.loader span 
{
    position: absolute;
    display: block;
}
/* Animasjon av øvre del av diven og span,kombo farge som går fra venstre til h.ø*/
.loader span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, transparent,#03e9f4,#df1d1d);
    animation: animate1 2s linear infinite;
    animation-delay: 0s;
}
@keyframes animate1
{
    0%
    {
        left: -100%;
    }
    50%,100%
    {
        left: 100%;
    }
}
/* Animasjon av nedre del av diven, farge kombo farge som går fra h.ø til venstre */
.loader span:nth-child(3)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(270deg, transparent,#03e9f4,#df1d1d);
    animation: animate3 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate3
{
    0%
    {
        right: -100%;
    }
    50%,100%
    {
        right: 100%;
    }
}

/* animasjon av høyre del av div og span, farge #df1d1d som går 180grader dvs fra opp og ned i dette tilfelle. */

.loader span:nth-child(2)
{
    top: -100%;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(180deg, transparent,#df1d1d);
    animation: animate2 2s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate2
{
    0%
    {
        top: -100%;
    }
    50%,100%
    {
        top: 100%;
    }
}

.loader span:nth-child(4)
{
    bottom: -100%;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(360deg, transparent,#03e9f4);
    animation: animate4 2s linear infinite;
    animation-delay: 1.5s;
}

@keyframes animate4
{
    0%
    {
        bottom: -100%;
    }
    50%,100%
    {
        bottom: 100%;
    }
}
/* Tekst farge og animasjon av tekst som skrives ut og viskes bort, endring av farge på hover*/
.loader h3
{
    font-family: consolas;
    color: #03e9f4;
    overflow: hidden;
    letter-spacing: 2px;
    transition: 0.5s;
    border-right: 1px solid #df1d1d;
    animation: typing 5s steps(10) infinite;
}
.loader:hover h3
{
    color: #111;
    border-right: 1px solid #111;
}
@keyframes typing
{
    0%,90%,100%
    {
        width: 0px;
    }
    30%,60%
    {
        width: 123.89px;
    }
}