/* Fjerner standard stilsetting fra nettleseren*/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}                             /*Setter bakgrunn*/
.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),transparent),url(images/HomepageGif.gif);
    background-size: cover;
    background-position: center;
    padding: 0 8%
}
                /* NAVBAR*/
nav {
    display: flex;
    width: 100%;
    align-items: center;
    flex: wrap;
    padding: 5px 0;
}

nav ul {
    flex:1;
    text-align: right;
    padding-right: 30px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    position: relative;
    
}

li:Hover {
    transition-delay: 0.5s;
    border-radius: 15%;
	background: linear-gradient(#21ebff,#df1d1d);
    transition: ease-in;
	color: #111;
	box-shadow: 0 0 50px #21ebff;
    
}
                            /* HOVEDSIDEKNAPPER */
/* flexbox for å centre dem i midten av siden(containeren)  */
.btn-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;

}
/* stilsetting knappene, webkit for å få skygge effekt på knappene */
.btn {
    position: relative;
	padding: 10px 30px;
	margin: 0 15px;
	color: black;
    font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	overflow: hidden;
	transition: 0.5s;
	-webkit-box-reflect: below  1px linear-gradient(transparent,#0003);
}
/* Fyller boksen med rødfarge samt skygge */
.btn:hover
{
	transition-delay: 0.5s;
	background: #df1d1d;    
	color: #111;
	box-shadow: 0 0 50px #21ebff;
} 

/* Stilsetting slik at kanteen er rød på boksen og strekker seg ut på hover*/
.btn:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
	border-top: 2px solid #df1d1d;
	border-left: 2px solid #df1d1d;
	transition: 0.5s;
	transition-delay: 0.5s;
}
/* Knappens "røddel" strekker seg ut horisontalt på hover*/
.btn:hover:before
{
	width: 100%;
	height: 100%;
	transition-delay: 0s;
}
/* Stilsetting slik at motsatt kant er blå */

.btn:after
{
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 10px;
	height: 10px;
	border-bottom: 2px solid #21ebff;
	border-right: 2px solid #21ebff;
	transition: 0.5s;
	transition-delay: 0.5s;
}
/* Knappens "blådel" strekker seg ut horisontalt på hover */
.btn:hover:after
{
	width: 100%;
	height: 100%;
	transition-delay: 0s;
} 



 h1 {
    font-size:150px;
    line-height: 200px;
    margin-left: 10%;
    margin-top: 30%;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(images/back2-removebg-preview.png);
    -webkit-background-clip:text;
    background-position: 0 0;
   animation: text 21s linear infinite;
}


@keyframes text 
{
    100% {
     
        background-position: 2000px 0;
    }
}


